<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Dating App</a>

    <ul class="navbar-nav mr-auto" *ngIf="accountService.currentUser$ | async">
      <!-- by using the async pipe, it will automatically subscribe AND UNSUBSCRIBE -->
      <li class="nav-item">
        <a class="nav-link" href="#">Matches </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
    </ul>

    <div class="dropdown" *ngIf="accountService.currentUser$ | async" dropdown>
      <a class="dropdown-toggle text-dark text-decoration-none" dropdownToggle
        >Welcome user</a
      >
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item">Edit Profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <form
      *ngIf="!(accountService.currentUser$ | async)"
      #loginForm="ngForm"
      class="d-flex"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        class="form-control me-2"
        name="username"
        [(ngModel)]="model.username"
        type="text"
        placeholder="Username"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control ml-2"
        type="password"
        placeholder="Password"
      />
      <button class="btn btn-outline-success ml-2" type="submit">Login</button>
    </form>
  </div>
</nav>
